@import 'colors';
@import 'mixins';
@import 'sizes';
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;
}

.squareX,
.squareO {
  background-color: $white;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.squareO {
  color: $secondary;
}
.squareX {
  color: $primary;
}

.details {
  @include primaryText;
  margin-top: 10px;
  width: 280px;
  padding: 0 3px;
  display: flex;
  flex-direction: column;

  & h6 {
    font-size: 14px;
    margin-bottom: 5px;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
  }

  &Row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    &:last-of-type {
      border-bottom: none;
    }
  }
  &Col {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .playerText,
    .playerX,
    .playerO {
      font-size: 12px;
      @media screen and (min-width: $tablet) {
        font-size: 14px;
      }
    }

    & .playerX,
    .playerO {
      font-weight: 700;
      text-transform: uppercase;
    }
    & .playerX {
      color: $primary;
    }
    & .playerO {
      color: $secondary;
    }
  }

  &Result {
    font-size: 12px;
    font-weight: 700;
    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }
  }
}

.controlls {
  margin-top: 10px;
  width: 280px;
  padding: 0 3px;

  &Text {
    @include primaryText;
    margin-bottom: 10px;
    font-size: 12px;

    @media screen and (min-width: $mobileL) {
      font-size: 14px;
    }
  }
}
